<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<main layout:fragment="contents">

	<input type="hidden" id="postId" th:value="${postId}">
	
	<div class="ingredient1 d-flex mb-3" style="gap: 10px; height: 200px;">
	
		<div class="ingredient-input">
			<input type="text" class="form-control mb-1" id="ingredientName" placeholder="재료1: ">
			<input type="text" class="form-control mb-1" id="ingredientAmount" placeholder="재료1의 수량: ">
			<textarea class="note form-control" id="content" placeholder="재료 손질법등을 알려주세요." rows="5"></textarea>	
		</div>
		
		<div class="ingredient-photo">
			<img id="previewImg1" src="#" alt="미리보기" style="display:none; 
			width:620px; max-width:none; height:auto; margin-top:5px;">

			<input type="file" class="btn btn-style ml-3" id="fileInput" name="imageFile" hidden> 
			 
			 <label for="fileInput">
			 	<span class="d-flex justify-content-center align-items-center">+</span>
			 </label>
		</div>
		
	</div>
	
	<div class="ingredient2 mb-1">
  		<input type="text" class="form-control col-4 mb-1" id="ingredientName2" placeholder="재료2: ">
   		<input type="text" class="form-control col-4 mb-1" id="ingredientAmount2" placeholder="재료2의 수량: ">
   		<img id="previewImg2" src="#" alt="미리보기" style="display:none; max-width:100px; margin-top:5px;">
    	<textarea class="note form-control col-4" id="content2" placeholder="추가 설명" rows="3"></textarea>
   		
   		<label class="btn btn-style mt-1"> 재료 사진 올리기 
    		<input type="file" id="fileInput2" name="imageFile2" hidden> 
    	</label> 
	</div>
	
	<div class="ingredient3 mb-1">
    	<input type="text" class="form-control col-4 mb-1" id="ingredientName3" placeholder="재료3: ">
   	 	<input type="text" class="form-control col-4 mb-1" id="ingredientAmount3" placeholder="재료3의 수량: ">
    	<img id="previewImg3" src="#" alt="미리보기" style="display:none; max-width:100px; margin-top:5px;">
   		<textarea class="note form-control col-4" id="content3" placeholder="추가 설명" rows="3"></textarea>
    	
    	<label class="btn btn-style mt-1"> 재료 사진 올리기 
        	<input type="file" id="fileInput3" name="imageFile3" hidden> 
    	</label> 
	</div>

	<div class="function d-flex justify-content-center mb-5">
		<button type="button" class="form-control col-4 btn-style" id="savebtn">저장하기</button>
	</div>
	
</main>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script layout:fragment="script">

function previewImage(input, previewId) {
	  if (input.files && input.files[0]) {
	    const reader = new FileReader();
	    reader.onload = function(e) {
	      $('#' + previewId).attr('src', e.target.result).show();
	    };
	    reader.readAsDataURL(input.files[0]);
	  }
	}

	$('#fileInput').on('change', function() {
	  previewImage(this, 'previewImg1');
	});
	$('#fileInput2').on('change', function() {
	  previewImage(this, 'previewImg2');
	});
	$('#fileInput3').on('change', function() {
	  previewImage(this, 'previewImg3');
	});
	
$("#savebtn").on("click", function () {
	
	let postId = $("#postId").val();

	let ingredientName = $("#ingredientName").val().trim();
	let ingredientAmount = $("#ingredientAmount").val().trim();
	let content = $("#content").val().trim();
	let imageFile = $("#fileInput")[0].files[0];

	let ingredientName2 = $("#ingredientName2").val().trim();
	let ingredientAmount2 = $("#ingredientAmount2").val().trim();
	let content2 = $("#content2").val().trim();
	let imageFile2 = $("#fileInput2")[0].files[0];

	let ingredientName3 = $("#ingredientName3").val().trim();
	let ingredientAmount3 = $("#ingredientAmount3").val().trim();
	let content3 = $("#content3").val().trim();
	let imageFile3 = $("#fileInput3")[0].files[0];
	
	let formData = new FormData();
	
	formData.append("postId", postId);
	
	formData.append("ingredientName", ingredientName);
	formData.append("ingredientAmount", ingredientAmount);
	formData.append("content", content);
	
	formData.append("ingredientName2", ingredientName2);
	formData.append("ingredientAmount2", ingredientAmount2);
	formData.append("content2", content2);
	
	formData.append("ingredientName3", ingredientName3);
	formData.append("ingredientAmount3", ingredientAmount3);
	formData.append("content3", content3);
	
	if (imageFile) {
		formData.append("imageFile", imageFile);
	}
	
	if (imageFile2) {
	    formData.append("imageFile2", imageFile2);
	}
	
	if (imageFile3) {
	    formData.append("imageFile3", imageFile3);
	}

	$.ajax({
		type: "post",
		url: "/ingredient/create",
		data: formData,
		enctype: "multipart/form-data",
		processData: false,
		contentType: false,
		success: function (response) {
			if (response.result === "success") {
				location.href = "/post/myRecipe/view";
			} else {
				alert("레시피 재료저장 실패.");
			}
		},
		error: function () {
			alert("레시피 재료저장 에러");
		}
	});
});
</script>