<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.andy.recipe.ingredient.repository.IngredientRepository">

	<insert id="insertIngredient" parameterType="com.andy.recipe.ingredient.domain.Ingredient">
		INSERT
		INTO
		`ingredient`
		(
		`postId`,
		`ingredientName`,
		`ingredientAmount`,
		`content`,
		`imagePath`,
		`createdAt`,
		`updatedAt`
		)
		VALUES
		(
		#{postId},
		#{ingredientName},
		#{ingredientAmount},
		#{content},
		#{imagePath},
		#{createdAt},
		#{updatedAt}
		)
	</insert>

</mapper>