<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.andy.recipe.post.repository.PostRepository">

	<select id="selectPostList" resultType="com.andy.recipe.post.domain.Post">
		SELECT
		`id`,
		`userId`,
		`title`,
		`category`,
		`headcount`,
		`content`,
		`imagePath`,
		`createdAt`,
		`updatedAt`
		FROM
		`post`
	</select>

	<select id="selectPostListByUserId" parameterType="long"
		resultType="com.andy.recipe.post.domain.Post">
		SELECT * FROM
		`post`
		WHERE
		`userId` = #{userId}
		ORDER BY
		`createdAt`
		DESC
	</select>

	<select id="selectByUserId" parameterType="long"
		resultType="com.andy.recipe.post.domain.Post">
		SELECT
		`id`,
		`userId`,
		`title`,
		`category`,
		`headcount`,
		`content`,
		`imagePath`,
		`createdAt`,
		`updatedAt`
		FROM
		`post`
		WHERE
		`userId` =
		#{userId}
	</select>

	<select id="selectPostById" parameterType="long"
		resultType="com.andy.recipe.post.domain.Post">
		SELECT
		`id`,
		`userId`,
		`title`,
		`category`,
		`headcount`,
		`content`,
		`imagePath`,
		`createdAt`,
		`updatedAt`
		FROM
		`post`
		WHERE
		`id`=
		#{id}
	</select>

	<insert id="insertPost"
		parameterType="com.andy.recipe.post.domain.Post">
		INSERT
		INTO
		`post`
		(
		`userId`,
		`title`,
		`headcount`,
		`category`,
		`content`,
		`imagePath`,
		`createdAt`,
		`updatedAt`
		)
		VALUES
		(
		#{userId},
		#{title},
		#{headcount},
		#{category},
		#{content},
		#{imagePath},
		#{createdAt},
		#{updatedAt}
		)
	</insert>

	<update id="updatePost"
		parameterType="com.andy.recipe.post.domain.Post">
		UPDATE
		`post`
		SET
		`title` = #{title},
		`headcount` = #{headcount},
		`category`= #{category},
		`content` = #{content},
		`imagePath` = #{imagePath},
		`updatedAt` = #{updatedAt}
		WHERE
		`id` = #{id}
	</update>

	<delete id="deletePost" parameterType="long">
		DELETE FROM
		`post`
		WHERE
		`id` = #{id}
	</delete>
</mapper>
