<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<main layout:fragment="contents">

	<input type="hidden" id="postId" th:value="${postId}">
	
	<div class="step1 mb-1">
		<div class="stepNumber">1</div>
    	<textarea class="form-control" id="content" placeholder="요리 과정을 상세히 적어주세요."></textarea>
    	
    	<img id="previewImg1" src="#" alt="미리보기" style="display:none; max-width:100px; margin-top:5px;">
    	
		<label class="btn btn-style mt-3"> 사진 올리기 <input type="file" id="fileInput" hidden> </label> 

	</div>
	
	<div class="step2 mb-1">
		<div class="stepNumber2">2</div>
    	<textarea class="form-control" id="content2" placeholder="요리 과정을 상세히 적어주세요."></textarea>
    	
    	<img id="previewImg2" src="#" alt="미리보기" style="display:none; max-width:100px; margin-top:5px;">
    	
		<label class="btn btn-style mt-3"> 사진 올리기 <input type="file" id="fileInput2" hidden> </label> 

	</div>
	
	<div class="step3 mb-1">
		<div class="stepNumber3">3</div>
    	<textarea class="form-control" id="content3" placeholder="요리 과정을 상세히 적어주세요."></textarea>
    	
    	<img id="previewImg3" src="#" alt="미리보기" style="display:none; max-width:100px; margin-top:5px;">
    	
		<label class="btn btn-style mt-3"> 사진 올리기 <input type="file" id="fileInput3" hidden> </label> 

	</div>
	
	<button type="button" class="form-control btn-style" id="savebtn">저장하기</button>
 
</main>
				
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script layout:fragment="script">

function previewImage(input, previewId) {
	  if (input.files && input.files[0]) {
	    const reader = new FileReader();
	    reader.onload = function(e) {
	      $('#' + previewId).attr('src', e.target.result).show();
	    };
	    reader.readAsDataURL(input.files[0]);
	  }
	}

	$('#fileInput').on('change', function() {
	  previewImage(this, 'previewImg1');
	});
	$('#fileInput2').on('change', function() {
	  previewImage(this, 'previewImg2');
	});
	$('#fileInput3').on('change', function() {
	  previewImage(this, 'previewImg3');
	});
	
$("#savebtn").on("click", function () {
	
	let postId = $("#postId").val();
	
	let stepNumber  = "1";
	let content = $("#content").val().trim();
	let imageFile  = $("#fileInput")[0].files[0];
	// ----------------------------------------------------------------

	let stepNumber2  = "2";
	let content2 = $("#content2").val().trim();
	let imageFile2  = $("#fileInput2")[0].files[0];
	// ----------------------------------------------------------------

	let stepNumber3  = "3";
	let content3 = $("#content3").val().trim();
	let imageFile3  = $("#fileInput3")[0].files[0];
	// ----------------------------------------------------------------

	if (content === "") {
		alert("절차를 설명을 입력해주세요.");
		return;
	}
	// ----------------------------------------------------------------

	if (content2 === "") {
		alert("절차2을 설명을 입력해주세요.");
		return;
	}
	// ----------------------------------------------------------------
	if (content3 === "") {
		alert("절차3을 설명을 입력해주세요.");
		return;
	}
	// ----------------------------------------------------------------
	
	let formData = new FormData();
	
	formData.append("postId", postId);
	
	formData.append("stepNumber", stepNumber);
	formData.append("content", content);
	
	formData.append("stepNumber2", stepNumber2);
	formData.append("content2", content2);
	
	formData.append("stepNumber3", stepNumber3);
	formData.append("content3", content3);
	
	if (imageFile) {
		formData.append("imageFile", imageFile);
	}
	
	if (imageFile2) {
	    formData.append("imageFile2", imageFile2);
	}
	
	if (imageFile3) {
	    formData.append("imageFile3", imageFile3);
	}

	$.ajax({
		type: "post",
		url: "/step/create",
		data: formData,
		enctype: "multipart/form-data",
		processData: false,
		contentType: false,
		success: function (response) {
			if (response.result === "success") {
				location.href = "/post/myRecipe/view";
			} else {
				alert("레시피 절차저장 실패.");
			}
		},
		error: function () {
			alert("레시피 절차저장 에러");
		}
	});
});
</script>