@charset "UTF-8";

#wrap {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}

header {
	width: 1200px;
	height: 100px;
	background-color: #f0f0f0;
}

section {
	width: 1200px;
	height: 600px;
}

section > #inputSection {

}

section > #imageSection {

}

footer {
	width: 1200px;
	height: 100px;
	background-color: #f0f0f0;
}