<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Andy's Recipe</title>
</head>
<body>
	<div id="wrap">
		<header class="d-flex justify-content-between align-items-center">
			<a href="/post/main/view"><span class="logo">ANDY's Recipes</span></a>
			<div class="search-bar">
				<input type="text" placeholder="오늘의 레시피는?">
				<button class="clear-btn">✕</button>
			</div>
			<div class="user-info">
				<div class="user-icon">
					<i class="bi bi-person-circle"></i>
				</div>
				<div class="user-text">
					<div th:if="${session.userId != null}">
						<a href="/post/myRecipe/view"><span
							th:text="${session.loginId + ' 님 환영합니다!'}"></span></a> <a
							href="/user/logout" class="text-danger">logout</a>
					</div>
				</div>
			</div>
		</header>

		<main>
			<form id="recipeForm" enctype="multipart/form-data">
				<div class="form-row">
					<div class="form-group">
						<label for="title">레시피이름 &lt;title&gt;</label> <input type="text"
							id="title" name="title" value="치킨 카레 밥" />
					</div>
					<div class="form-group">
						<label for="category">요리 카테고리 추가 &lt;category&gt;</label> <input
							type="text" id="category" name="category" value="간식" />
					</div>
					<div class="form-group">
						<label for="headcount">인원수 추가 &lt;headcount&gt;</label> <input
							type="number" id="headcount" name="headcount" value="3" min="1" />
					</div>
				</div>

				<div>
					<label for="content" class="content-label">&lt;content&gt;
						간단 설명</label>
					<textarea id="content" name="content"
						placeholder="친구들이 놀러왔을 때 빠르고 쉽게 요리 할 수 있어요 ~~~&#10;초보자들도 쉽게 할 수 있어요~&#10;요리시간 약 45분&#10;요리 도구 :"></textarea>
				</div>

				<div class="image-section">
					<label for="imageFile" class="image-button">음식 사진</label> <input
						type="file" id="imageFile" name="imageFile" style="display: none;"
						accept="image/*" />
					<div class="image-preview" id="imagePreview">&lt;imagePath&gt;</div>
				</div>

				<div class="bottom-buttons">
					<button type="button" class="btn-delete">
						<i>🗑️</i> 게시글 삭제
					</button>
					<button type="submit" class="btn-save">myRecipe에 저장</button>
				</div>
			</form>
		</main>


		<footer class="d-flex justify-content-start align-items-center">
			<div>Copyright 2024. ANDY’s Recipes all rights reserved.</div>
		</footer>
	</div>
</body>
</html>