<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<main layout:fragment="contents"
	class="post-list d-flex justify-content-between align-items-center">

	<div class="post-card" th:each="postDto : ${postDtoList}">

		<span class="artist" th:utext="${'<h4>' + postDto.loginId + '</h4>' + ' 의 Recipe'}"></span>
		
		<div class="main-food-pics">
		
			<a th:href="@{/post/recipes/view(id=${postDto.id})}">
				<img th:src="${postDto.imagePath}" alt="요리 이미지" style="width: 100%; height: auto;">
			</a>
 			
		</div>

		<div class="content">
		
			<div class="title" th:utext="${'레시피 이름 : <br>' + postDto.title}"></div>
			
			<div class="description" th:utext="${'<br>' + postDto.content}"></div>
			
			<div class="headcount" th:text="${'인분수 : ' + postDto.headcount + '인분'}"></div>

			<div class="ingredients">
				<span>재료 태그 : </span> 
					<span th:each="ingredient,stat : ${postDto.ingredientList}"> 
						<span th:utext="${ingredient.ingredientName + (stat.last ? '' : ', ')}"></span>
				</span>
			</div>

			<div class="category" th:text="${'요리 카테고리 :' + postDto.category}"></div>

		</div>

		<div class="icons d-flex justify-content-start align-items-center">
			<i class="bi bi-heart-fill text-danger heartIcon"></i> 
			<span th:text="${postDto.likeCount}"></span>  
			<span> 명의 요리사님(들)이 좋아합니다.</span>  
			
		</div>

	</div>
</main>
</html>