<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<main layout:fragment="contents"
	class="post-list d-flex justify-content-between align-items-center">

	<div class="post-card" th:each="postDto : ${postDtoList}">

		<span class="artist" th:text="${postDto.loginId + ' 의 Recipe'}"></span>
		<div class="main-food-pics">
		
			<a th:href="@{/post/recipes/view(id=${postDto.id})}">
				<img th:src="${postDto.imagePath}" alt="요리 이미지" style="width: 100%; height: auto;">
			</a>
 			
		</div>

		<div class="content">
			<div class="title" th:utext="${'레시피 이름 : <br>' + postDto.title}"></div>
			<div class="description" th:utext="${'레시피 간단 설명 : <br>' + postDto.content}"></div>
			<div class="headcount" th:text="${'인분수 : ' + postDto.headcount + '인분'}"></div>

			<div class="ingredients">
				<span>재료 태그 : </span> 
					<span th:each="ingredient : ${postDto.ingredientList}"> 
					<span th:utext="${ingredient.ingredientName + ', '}"></span>
				</span>
			</div>

			<div class="category" th:text="${'요리 카테고리 :' + postDto.category}"></div>

		</div>

		<div class="icons d-flex justify-content-start align-items-center">
			<span><i class="bi bi-heart"></i> 30</span> 
			<span> <i class="bi bi-chat-left-text"> 30</i> </span> 
			<input type="text" class="form-control col-5" placeholder="증말맛있겠다!!">
			<button type="button" class="form-control col-3">등록</button>
		</div>

	</div>
</main>
</html>