<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
	
		<main layout:fragment="contents" class="main-body d-flex" >
		
			<div class="recipe-scroll-area">
			
				<div class="recipe-container">

					<section class="myrecipe" th:each="post : ${postList}">
					
						<div class="food-pics" >
							<img th:src="${post.imagePath != null ? post.imagePath : '/images/default.jpg'}">
						</div>
						
						<div class="content">
							<div class="title" th:text="${'레시피 이름 : ' + post.title}">치킨 카레 밥</div>
							<div class="description" th:text="${'레시피 간단 설명 : ' + post.content}">친구들이 놀러왔을 때 빠르고 쉽게 요리 할 수 있어요</div>
							<div class="ingredients">재료 태그 : 치킨, 카레, 밥</div>
							<div class="headcount" th:text="${'인원수 : ' + post.headcount + '인분'}">인원수 : 3 인분</div>
							<div class="category" th:text="${'요리 카테고리 :' + post.category}"> 간식</div>
						</div>
						
						<div class="inputbuttons d-flex justify-content-end ">
							<button class="ingredientinput form-control">✔ 재료 넣기</button>
							<button class="stepinput form-control">✔ 요리과정 및 사진 넣기</button>
						</div>
						
					</section>

				</div>
			</div>

			<section class="myinfo">
				<img class="profilepic" src="https://cdn.pixabay.com/photo/2016/09/08/16/44/fire-1654828_1280.jpg" alt="프로필 사진">
				<div class="infodata">
					<span th:text="${loginId}"></span>
					<div class="edit">자기소개 수정</div>
					<div class="total">총 조회 : 0 팔로우 : 0 팔로워 : 0</div>
				</div>
				<a href="/post/create/view" class="createPost">글작성</a>
			</section>
		</main>


</body>
</html>