<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<main layout:fragment="contents" class="recipes">

	<div id="wrap" class="main-body">

		<div class="recipesthym">

			<section class="recipes-info-left">

				<article class="myrecipe">

					<img class="menu-pic" th:src="${postDto.imagePath}" alt="완성 음식">

					<h2 class="menu-title" th:text="${postDto.title}"></h2>

					<p class="description" th:text="${postDto.content}"></p>

					<div class="steps">
						<h3>🍽 요리 순서</h3>
						<div th:each="step : ${postDto.stepList}" class="step-box" style="margin-bottom: 32px;">
							<h4 th:text="'STEP ' + ${step.stepNumber}"></h4>
							<img th:src="${step.imagePath}" alt="단계 이미지" style="width: 100%; max-width: 500px; height: auto; border-radius: 8px; margin-bottom: 16px;" />
							<p th:text="${step.content}" style="font-size: 18px;"></p>
						</div>
					</div>

				</article>

			</section>

			<div class="recipes-info-right">

				<div class="ingredients-list">
					<h4>🍳 재료 목록</h4>
					<div th:each="ingredient : ${postDto.ingredientList}" class="ingredient-box">
						<img th:src="${ingredient.imagePath}" alt="재료 이미지">
						<div>
							<span th:text="${ingredient.ingredientName}">재료명</span> 
							
														- 
														
							<span th:text="${ingredient.ingredientAmount}">수량</span>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<div class="icons d-flex justify-content-start align-items-center">

		<i th:unless="${postDto.likedByCurrentUser}" class="bi bi-heart text-danger heartIcon" th:data-post-id="${postDto.id}"></i> 
		<i th:if="${postDto.likedByCurrentUser}" class="bi bi-heart-fill text-danger heartIcon" th:data-post-id="${postDto.id}"></i> 
		<span th:text="${postDto.likeCount}"></span> 
		<input type="text" class="form-control col-10 comment-text" id="text" placeholder="댓글을 등록 해주세요">

		<button type="button" class="form-control comment-submit" th:data-post-id="${postDto.id}" >등록</button>

	</div>

	<div class="comments">
	    <div th:each="comment : ${postDto.commentList}" 
	         class="d-flex justify-content-between align-items-center">
	        
	        <div>
	            <span th:text="${comment.userName}"></span> : 
	            <span th:text="${comment.text}">댓글 내용</span>
	        </div>
	        
	        <a href="#" class="comment-delete text-danger" th:data-comment-id="${comment.id}" th:if="${comment.userId == session.userId}">
	           댓글 삭제
	        </a>
	    </div>
	</div>

</main>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script layout:fragment="script">
	$(".comment-delete").on("click", function(e) {
	    e.preventDefault();
	
	    if (!confirm("정말 댓글을 삭제하시겠습니까?")) return;
	
	    let commentId = $(this).data("comment-id");
	
	    $.ajax({
	        type: "post",
	        url: "/post/comment/delete",
	        data: { 
	        	commentId : commentId 
	        },
	        success: function(response) {
	            if (response.result === "success") {
	                location.reload();
	            } else {
	                alert("댓글 삭제 실패");
	            }
	        },
	        error: function() {
	            alert("댓글 삭제 에러!");
	        }
	    });
	});
	
	$(".comment-submit").on("click", function() {
		
		let postId = $(this).data("post-id");
    	let text = $("#text").val().trim();
		
    	if(text === ""){
    		alert("댓글을 작성 해주세요");
    		return;
    	}
    	
		$.ajax({
			type : "post",
			url : "/post/comment/create",
			data : {
				postId : postId,
				text : text
			},
			success : function(response) {
				if (response.result === "success") {
					location.reload();
				} else {
					alert("댓글 실패");
				}
			},
			error : function() {
				alert("댓글 에러!");
			}
		});
	});

	$(".heartIcon").on("click", function() {

		let postId = $(this).data("post-id");

		if ($(this).hasClass("bi-heart-fill")) {
			$.ajax({
				type : "post",
				url : "/post/dislike",
				data : {
					postId : postId
				},
				success : function(response) {
					if (response.result === "success") {
						location.reload();
					} else {
						alert("좋아요 취소 실패!");
					}
				},
				error : function() {
					alert("좋아요 취소 에러!");
				}
			});
		}

		else {
			$.ajax({
				type : "post",
				url : "/post/like",
				data : {
					postId : postId
				},
				success : function(response) {
					if (response.result === "success") {
						location.reload();
					} else {
						alert("좋아요 실패!");
					}
				},
				error : function() {
					alert("좋아요 에러!");
				}
			});
		}
	});
</script>
</html>