<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ANDY's Recipes</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="/styles/style1.css">
</head>

<body class="join-page">

	<div id="wrap" class="d-flex flex-column" style="min-height: 100vh;">

		<header class="join-logo text-center py-4">
			<div class="display-3">ANDY's Recipes</div>
			<h2 class="text-center">회원가입</h2>
		</header>

		<main class="flex-grow-1 d-flex justify-content-center align-items-center" style="padding: 40px;">

			<div class="join-box card p-5 shadow" style="width: 100%; max-width: 500px;">

				<label class="form-label">사용하실 닉네임</label>

				<div id="idInputSection" class="d-flex">
					<input class="form-control" style="flex: 1;" type="text" placeholder="아이디를 입력해주세요" id="loginIdInput">
					<button class="btn ml-3 join-btn" type="button" id="idDuplicateBtn" style="min-width: 110px;">아이디 중복확인</button>
				</div>
				<div id="duplicateIdText" class="text-danger mt-1 d-none">❌ 이미 사용중인 아이디 입니다.</div>
				<div id="availableIdText" class="text-success mt-1 d-none">✅ 사용 가능한 아이디 입니다.</div>

				<label class="form-label mt-4">비밀번호</label>
				<input class="form-control" type="password" placeholder="비밀번호를 입력해주세요" id="passwordInput">

				<label class="form-label mt-3">비밀번호 확인</label>
				<input class="form-control" type="password" placeholder="비밀번호를 확인해주세요" id="passwordCheckInput">

				<label class="form-label mt-4">이메일</label>

				<div id="emailInputSection" class="d-flex">
					<input class="form-control" style="flex: 1;" type="text" placeholder="이메일을 입력해주세요" id="emailInput">
					<button class="btn ml-3 join-btn" type="button" id="emailDuplicateBtn" style="min-width: 110px;">이메일 중복확인</button>
				</div>

				<div id="duplicateEmailText" class="text-danger mt-1 d-none">❌ 이미 사용중인 이메일 입니다.</div>
				<div id="availableEmailText" class="text-success mt-1 d-none">✅ 사용 가능한 이메일 입니다.</div>

				<button class="btn mt-5 join-btn" type="button" id="joinBtn">회원가입</button>
			</div>
			
			<div class="flex=colum">
			
				<div id="imageSection" class="ml-5" style="max-width: 300px; flex-shrink: 0;">
					<img alt="음식사진" width="100%" src="https://cdn.pixabay.com/photo/2017/08/06/06/43/pizza-2589575_1280.jpg" style="border-radius: 12px; box-shadow: 0 4px 10px rgba(0,0,0,0.15);">
				</div>

				<div id="loginArea" class="text-center ml-5 mt-3">
					<span>이미 계정이 있으신가요? </span> <a href="/user/login/view" class="btn btn-link">로그인</a>
				</div>

			</div>
			
		</main>

		 <footer class="d-flex justify-content-start align-items-center py-3">
			<div>Copyright 2024. ANDY’s Recipes all rights reserved.</div>
		</footer>

	</div>

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script>
		let isEmailChecked = false; // 이메일중복버튼을 누르지않았어요
		let isEmailDuplicated = true; // 이메일이 중복된상태로 먼저 선택
		
		let isLoginIdChecked = false;
		let isLoginIdDuplicated = true;

		$("#emailDuplicateBtn").on("click", function() {

			let email = $("#emailInput").val();

			if (email === "") {
				alert("사용하실 이메일을 적어주세요");
				return;
			}

			$.ajax({
				type : "GET",
				url : "/user/duplicate-email",
				data : {
					"email" : email
				},
				success : function(response) {
					isEmailChecked = true; //이메일 중복확인 버튼을 눌렀다!
					isEmailDuplicated = response.isDuplicate; // false 값이 이메일이 중복이 되지않았다라는걸로 저장

					if (response.isDuplicate) { // 문구 띄워서 클라이언트에 알려주기
						$("#duplicateEmailText").removeClass("d-none");
						$("#availableEmailText").addClass("d-none");
					} else {
						$("#availableEmailText").removeClass("d-none");
						$("#duplicateEmailText").addClass("d-none");
					}
				},
				error : function() {
					alert("이메일 중복확인 버튼을 눌러주세요!");
				}
			});
		});

		$("#idDuplicateBtn").on("click", function() {
			let loginId = $("#loginIdInput").val();

			if (loginId === "") {
				alert("사용하실 닉네임을 적어주세요!");
				return;
			}

			$.ajax({
				type : "GET",
				url : "/user/duplicate-id",
				data : {
					"loginId" : loginId
				},
				success : function(response) {
					isLoginIdChecked = true;
					isLoginIdDuplicated = response.isDuplicate;
					if (response.isDuplicate) {
						$("#duplicateIdText").removeClass("d-none");
						$("#availableIdText").addClass("d-none");
					} else {
						$("#availableIdText").removeClass("d-none");
						$("#duplicateIdText").addClass("d-none");
					}
				},
				error : function() {
					alert("아이디 중복확인 버튼을 눌러주세요!");
				}
			});
		});

		$("#joinBtn").on("click", function() {
			let loginId = $("#loginIdInput").val();
			let password = $("#passwordInput").val();
			let passwordCheck = $("#passwordCheckInput").val();
			let email = $("#emailInput").val();

			if (!loginId || !password || !passwordCheck || !email) {
				alert("모든 항목을 다 채워 주세요!");
				return;
			}

			if (password !== passwordCheck) {
				alert("비밀번호를 체크해주세요!");
				return;
			}

			if (!isLoginIdChecked) {
				alert("아이디 중복 확인을 해주세요!");
				return;
			}

			if (!isEmailChecked) {
				alert("이메일 중복 확인을 해주세요!");
				return;
			}

			$.ajax({
				type : "POST",
				url : "/user/join",
				data : {
					loginId : loginId,
					password : password,
					email : email
				},
				success : function(response) {
					if (response.result == "success") {
						location.href = "/user/login/view";
					} else {
						alert("회원가입 실패");
					}
				},
				error : function() {
					alert("회원가입 에러!")
				}
			});
		});
	</script>

</body>
</html>